$fc-main: #fff;
$fc-secondary: #47be68;

$accent: #2da4e0;
$graphyte-dark: #121214;
$accent-darck: #201f23;
$input: #1c1b1f;
$background: #1d1d1e;
$background-2: radial-gradient(50% 50% at 50% 50%, #121214 0%, #0f131b 100%); ;
