@use '1-helpers/breakpoints' as var;
@use '1-helpers/mixins' as *;
@use '1-helpers/functions' as *;
@use '1-helpers/colors' as color;
@use 'typography' as f;

//*************** header

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#nav-bar {
  @include flex-center-sp-bt;
  min-height: 4.5rem;
  background-color: color.$graphyte-dark;
  padding: 0px 1rem;
  width: 100vw;

  @include respond-to("med2") {
    padding: 0 5rem;
  }
}

.nav-col {
  font-size: 1rem;
}
.nav-links {
  @include flex-center-sp-bt;

  // .nav-links__social
  &__social {
    @include respond-to("xxs") {
      display: none;
    }
  }
}

.nav-link {
  padding: 0 0.3rem;
  @include respond-to("xxs") {
    font-size: 1.3rem;
  }

  &__social {
    padding: 0 0.3rem;
  }

  // .nav-link__wallet-word
  &__wallet-word {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-right: 1rem;

    @include respond-to("xxs") {
      font-size: 1.3rem;
    }
  }
}

//**************** hero
.hero-main-container {
  @include respond-to("med2") {
    position: relative;
    display: grid;
    gap: 20px;
    grid-template-columns: 60% 40%;
  }
}

.hero-main-bg-img {
  display: flex;
  align-self: end;
}

.hero {
  padding: 0 1rem;
  &-logo {
    margin-top: 8.5em;
    margin-bottom: 2rem;
  }

  @include respond-to("med2") {
    padding: 0;
  }

  // hero bg immages
  .top-right {
    width: toRem(110);
    top: 5rem;
    right: -2rem;

    @include respond-to("sm") {
      right: 1rem;
      @include box(toRem(160), toRem(140));
    }

    @include respond-to("med2") {
      @include box(toRem(206), toRem(174));
      right: 40%;
      top: 2rem;
    }
    @include respond-to("xl") {
      right: 45%;
    }
  }

  .left-bottom {
    width: toRem(125.8);
    top: 18rem;
    left: -4rem;

    @media (min-width: 1165px) {
      left: -3rem;
    }
    @include respond-to("lg") {
      left: 0;
    }
  }

  .top-left {
    width: toRem(83);
    top: 3rem;
    left: -0.5rem;

    @include respond-to("sm") {
      left: -0.1rem;
    }

    @include respond-to("med2") {
      left: 0;
    }
  }

  &-bg-img {
    display: none;
    @include respond-to("med2") {
      display: block;
      width: 641px;
      position: absolute;
      bottom: -5rem;
      left: 50%;
    }
  }

  &-content {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.1rem;

    p {
      z-index: 2;
      margin-bottom: 3em;
    }
  }

  &-content-btn {
    // margin-bottom: toRem(85);

    @media (max-width: 325px) {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}

#title {
  font-size: toRem(20);
  line-height: toRem(34);
  word-spacing: 0.1em;
  margin-bottom: 1.5rem;
}

.clamed {
  margin-top: toRem(85);

  margin-bottom: toRem(101);
  text-align: center;

  .title {
    margin-bottom: toRem(74);
  }
}

#sambrero {
  margin: toRem(30) 0 toRem(40);

  @include respond-to("med2") {
    position: absolute;
    top: 25%;
    right: 50%;
  }
}

//********** section plan
.plan {
  margin-bottom: 4.3rem;
  position: relative;

  width: 100%;

  .title {
    @include respond-to("med2") {
      margin-bottom: 2rem;
    }
  }
}

.video-container {
  margin-bottom: 6rem;

  @include respond-to("med2") {
    width: 100%;
  }

  .title {
    margin-bottom: 2rem;

    @include respond-to("med2") {
      margin: 5rem 0 3rem 0;
    }
  }
}

#video {
  width: 100%;

  @include respond-to("sm") {
    width: 70vw;
  }

  @include respond-to("med") {
    @include box(toRem(500), toRem(300));
  }
}

//****************** form
.form-container {
  background: radial-gradient(#004d91, #000828);

  filter: drop-shadow(0 3px 22px rgba(0, 0, 0, 0.231));
  background: color.$background-2;

  .title {
    margin: toRem(128) 0 1rem 0;
    font-size: toRem(22);

    @include respond-to("xs") {
      text-align: left;
    }

    @include respond-to("med2") {
      font-size: toRem(30);
      line-height: toRem(48);
    }
  }

  p {
    font-size: toRem(16);
    margin-bottom: 2rem;
    text-align: center;

    @include respond-to("med2") {
      font-size: toRem(18);
      line-height: toRem(24);
    }
  }

  .container {
    @include respond-to("sm") {
      align-items: flex-start;
    }
  }

  .form-top-bg {
    @include box(toRem(169), toRem(143));
    position: absolute;
    top: -3rem;
    right: 1rem;

    @include respond-to("med2") {
      @include box(toRem(436), toRem(368));
    }

    @include respond-to("lg") {
      right: 15%;
    }
    @include respond-to("xl") {
      right: 25%;
    }
  }

  .form-mid-bg {
    display: none;

    @include respond-to("med2") {
      display: block;
      position: absolute;
      right: 22rem;
      bottom: -4.2rem;
    }

    @include respond-to("lg") {
      right: 40%;
    }
  }

  #form {
    display: flex;
    flex-wrap: wrap;

    .btn {
      color: #fff;
      letter-spacing: 4px;
      width: 47%;
      margin-bottom: toRem(53);
    }
  }
}

#email {
  border-radius: 5px;
  background-color: color.$input;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: #fff;

  &::placeholder {
    padding-left: 3px;
  }
}

//*********** footer
.footer {
  background-color: color.$graphyte-dark;
  z-index: 2;
  position: relative;

  &-words {
    @extend .nav-link__wallet-word;
    font-size: 1rem;
  }
  &-icons {
    @include flex-center-sp-bt;
  }
  &-icons a {
    margin-left: 0.5rem;
  }
  .container {
    @include respond-to("xs") {
      align-items: flex-start;
    }
  }
}

.footer-sotial-media {
  @include flex-center-vert;
  margin: toRem(48) 0 toRem(21) 0;
}

.copyright {
  font-size: 1rem;
  line-height: toRem(20);
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2em;
}
