doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./dist/css/style.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet")
    link(rel="icon" type="image/png" href="./src/assets/images/common/logo_sm.png")
    script(src="https://unpkg.com/typeit@8.2.0/dist/index.umd.js")
    script(src="./dist/js/main.min.js")

    title ICPunks
